<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ _('home_title') }}</title>
</head>
<body>
    <h1>{{ _('home_header') }}</h1>
    <p>
        {% if g.user %}
            {% if g.user['locale'] == 'fr' %}
                Vous êtes connecté en tant que {{ g.user['name'] }}.
            {% else %}
                You are logged in as {{ g.user['name'] }}.
            {% endif %}
        {% else %}
            {% if g.user and g.user['locale'] == 'fr' %}
                Vous n'êtes pas connecté.
            {% else %}
                You are not logged in.
            {% endif %}
        {% endif %}
    </p>
</body>
</html>
